.card {
  margin: 20px;
  background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* shadow */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-img-top {
  padding-top: 10px;
  width: 100%;
  height: 15vw;
  object-fit: contain;
}
.card-footer {
  background-color: transparent;
}
.isEditMode {
  display: none;
}
.button-save,
.description {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}
