.verticalNavbar {
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  );
}
.fa {
  font-size: 25px;
}
.fa-facebook {
  margin-left: 15px;
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-instagram {
  color: white;
}
.social {
  position: fixed;
  bottom: 0;
}
.col-centered {
  float: none;
  display: block;
  margin: 0 auto;
}
