/* .content {
  margin-left: 115px;
  position: relative;
}
html,
body,
.container {
  height: 100%;
} */

.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}
.content {
  flex-grow: 3;
}
