.lead {
  font-size: 28 !important;
}

.home-page {
  color: #fff;
  background: linear-gradient(
    to bottom,
    #49c0f0 0%,
    #2cafe3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100vh;
}
