.verticalNavbar {
  background: -webkit-linear-gradient(
    top,
    #1e5799 10%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  ) !important;
  position: fixed !important;
  overflow: auto;
  height: 100%;
}
.translate {
  margin-left: 26px;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
}
.nav-link {
  color: white;
  padding-left: 3px !important;
}
.nav-link:hover {
  color: black;
}
.cart-text {
  margin-left: 20px;
}
.fa {
  font-size: 25px;
}
.fa-facebook {
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-instagram {
  color: white;
}
.social {
  position: fixed;
  bottom: 0;
}
